<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919574811604-k57qm4tehhp4h37k7u6eo7di9q0pdmia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919574811604-k57qm4tehhp4h37k7u6eo7di9q0pdmia</string>
	<key>API_KEY</key>
	<string>AIzaSyDRobiusvUTkcMeG78olhG9xLvifxJrfxg</string>
	<key>GCM_SENDER_ID</key>
	<string>919574811604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.absenceWatch</string>
	<key>PROJECT_ID</key>
	<string>absence-watch</string>
	<key>STORAGE_BUCKET</key>
	<string>absence-watch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919574811604:ios:33b3384fae4e47f25ebc41</string>
</dict>
</plist>
